@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Bree Serif', serif;
  color: #1565c0;
}

.bree-serif-regular {
  font-family: "Bree Serif", serif;
  font-weight: 400;
}
